
:root {
    --mainColor: #FFFFFF;
    --nightColor: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--nightColor);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.inputStyle{
    height: 3vh;
    width: 25vw;
    background-color:white;
    color:rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 100px;
    font-size: medium;
    font-family: 'Manrope', sans-serif;
    padding-left: 1vw;
}
.inputStyle:focus{
    background-color:rgb(120, 222, 248) ;
}
p{
    font-family: 'Manrope', sans-serif;
    color: blanchedalmond;
    padding-left: 1vw;
}