@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
:root {
    --mainColor: #FFFFFF;
    --nightColor: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--nightColor);
}

.container {
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.searchbar{
    height: 70px;
    width: 300px;
    border: none;
    font-size: 25px;
    margin-top: 40px;
    border-radius: 25px;
    padding: 20px;
}
.date{
width: 164px;
height: 25px;
left: 0px;
top: 0px;
margin-left: 30px;
margin-top: 20px;
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */
/* Cool Gray / 400 */
color: #9CA3AF;
}
.city{
    position: static;
width: 174px;
height: 66px;
left: 0px;
top: 25px;

font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 66px;
/* identical to box height */


/* Neutral / White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
margin-left: 30px;
}
.zurag{
    position: absolute;
width: 32px;
height: 32px;
left: 334px;
top: 163px;
}
.temp{
    position: absolute;
width: 350px;
height: 350px;
left: 32px;
top: 204px;
}
.shadow{
position: absolute;
width: 350px;
height: 350px;
left: 48px;
top: 220px;

opacity: 0.35;
filter: blur(112px);
}
.status{
    position: static;
    width: 242px;
    height: 197px;
    left: 0px;
    top: 0px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 197px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    color:  grey;
    margin-left: 30px;
    margin-top: 240px
    ;
}
h2 {
    font-family: Manrope;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    position: static;
width: 64px;
height: 33px;
left: 0px;
top: 197px;

font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
/* identical to box height */


/* Colors / Orange */

color: #FF8E27;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
margin-left: 30px ;
font-size: xx-large;
}