:root {
    --mainColor: #FFFFFF;
    --nightColor: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--nightColor);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    /* min-width: 100vw; */

    width: 414px;
    height: 896px;
    left: 0px;
    top: 0px;

    background: #111827;
    border-radius: 48px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 64px;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 10%;
    width: 100%;
}

.searchBar{
    width: 90%;
    height: 50%;
    background-color: rgba(153, 153, 153, 0.514);
    border: none;
    border-radius: 10px;
    text-align: center;
}

.searchBar, select, textarea{
    color: rgb(139, 139, 139);
}

main{
    height: 100%;
}

.location{
    width: 40%;
    height: 10%;
    margin: 5% 10%;
}

.date{
    position: static;
    width: 174px;
    height: 25px;
    left: 0px;
    top: 0px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: #6B7280;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.city{
    position: static;
    width: 132px;
    height: 66px;
    left: 0px;
    top: 25px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;

    color: #6B7280;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.dayNightIcon{
    margin-left: 10%;
}

.weatherInfo{
    width: 61px;
    height: 33px;
    left: 0px;
    top: 197px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 33px;
    color: #27B1FF;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10%;
}

.temp{
    width: 250px;
    height: 170px;

    font-family: 'Manrope';
    font-style: bold;
    font-weight: 1000;
    font-size: 120px;
    line-height: 147px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 5%;

    background: -webkit-linear-gradient(#6B7280,#111827 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.locationMarker{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 140px;
    margin-left: 85%;
}