@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root {
    --mainColor: #FFFFFF;
    --nightColor: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--nightColor);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    
}
#search-button{
    height: 35px;
    width: 200px;
    margin-left: 10px;
    background-color: #7c5295;
}

#search-button::placeholder {
    color: #322d31;
}
.dateTime{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: #6B7280;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;

    margin-left: 40px;

}
.city{
    position: static;
    width: 174px;
    height: 66px;
left: 0px;
top: 25px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 66px;
/* identical to box height */


/* Neutral / White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
margin-left: 40px;
}
main section{
    display: flex;
    justify-content: space-around;
    padding-top: 5% ;
}
.stats{
    display: flex;
    flex-direction: column;
    padding-top: 5% ;
}
.temp{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 197px;
    background: -webkit-linear-gradient(#111827, #6B7280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textContainer {
    margin-left: 60px;
}

.status{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
}