
:root {
    --mainColor: #FFFFFF;
    --nightColor: #111827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--nightColor);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.inputStyle{
    height: 3vh;
    width: 25vw;
    background-color:rgb(120, 222, 248);
    color: white;
    border: 1px solid black;
    border-radius: 100px;
    font-size: medium;
}